day 2/templates/.DS_Store
day 2/templates/template-1.html
day 2/templates/template-2.html
day 2/templates/template-3.html
day 2/weteach/.DS_Store
day 2/weteach/hero.png
day 2/weteach/index.html
day 2/weteach/light-logo.png
day 2/weteach/logo.png
day 2/weteach/logo.sketch
